section#business {
  
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#business div{
  position: relative;
  width: 100%;
  max-width: 100%;
}



section#business div hgroup {
  width: 1520px;
  margin: 0 auto;
}
section#business div hgroup .h4 {
  font-weight: 600;
  color: #3a3a3a;
}
section#business div hgroup .h4 span {
  
  color: #f5ad1d;
}
section#business div hgroup .p {
  line-height: 2;
  color: #555;
}
section#business div .mom {
  height: 500px;
  margin-top: 30px;
  display: flex;
  background-color: #D7A143;
  justify-content: space-between;
  overflow: hidden;
  position: initial;
}

section#business div .mom article {
  margin-left: calc((100% - 1520px) / 2);
  width: calc(100vw / 2);
}
section#business div .mom article .h4 {
  margin: 0 auto;
  padding-top: 100px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px rgb(125, 90, 30);
}
section#business div .mom article .p {
  margin: 0 auto;
  color: white;
  padding-top: 25px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(125, 90, 30);
}
section#business div .mom article .p br{
  
}
section#business div .mom article .p span {
  line-height: 2;
  font-weight: 300;
}

section#business div .mom article figure {
  position: absolute;
  right: 0;
  top: 0;
}
section#business div .mom article figure img {
  height: 500px;
  width: 951.5px;
}
section#business .mom article .busibutton {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
section#business .mom article .busibutton a{
  border: 1px solid #eee;
  width: 150px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 2.5;
  color: white;
}
section#business .mom article .busibutton:hover a{
  
  background-color: #B88222;
  transition: 1s;
}
section#business div figure{
  width: 70%;
}
section#business div figure img{
}
section#business div figure figcaption {
  
}
section#business div .spangr{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 53%;
  padding: 0 60px;
  box-sizing: border-box;
}
section#business div .spangr .beforearrow {

}
section#business div .spangr .beforearrow a{
  font-size: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-top: hidden;
  border-left: hidden;
  transform: rotate(135deg);
}

section#business div .spangr .afterarrow {

}
section#business div .spangr .afterarrow a{
  font-size: 0;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-top: hidden;
  border-left: hidden;
  transform: rotate(-45deg);
}

