section#news {
  
  height: 90vh;
  display: flex;
  align-items: center;
}
section#news .wrap {
  
  width: 100%;
}
section#news .wrap hgroup {
  
}
section#news .wrap .news01 {
  
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

section#news .wrap news01 hgroup .h4 {
  
  font-weight: 300;
  color: #6e6e6e;
}
section#news .wrap .news01 hgroup .h4 span{
  
  color: #f4c066;
  font-size: 35px;
  font-weight: 600;
  display: block;
  line-height: 1.2;
}

section#news .wrap .news01 hgroup .p {
  
  line-height: 2;
  color: #959595;
}

section#news .wrap .news01 .bt{
  background-image: url(../img/news/one.png);
  width: 75px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 1.5;
  padding-right: 150px;
}
section#news .wrap .news01 .bt:hover {
  
  background-image: url(../img/news/one-ha.png);
  color: white;
}
section#news .wrap .news01 .bt::after{
  content: "";
  background-image: url(../img/news/arrow_forward.png);
  width: 7px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: -8px;
  margin-left: 5px;
}
section#news .wrap .news01 .bt:hover::after{
  
  background-image: url(../img/news/arrow_forward-ho.png);
}
  
section#news .wrap ul.newsgr {
  
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  margin: 0 auto;
  margin-top: 30px;
}
section#news .wrap ul.newsgr li {
  
  display: flex;
  width: calc(57vw / 2);
}

section#news .wrap ul.newsgr li >a {
  width: 30%;
  display: inline-block;
}

section#news .wrap ul.newsgr li a img{

  border-radius: 0 20px;
}
section#news .wrap ul.newsgr li .newsgr01{

  margin-left: 10px;
  width: 67%;
}
section#news .wrap ul.newsgr li .newsgr01 a{

}
section#news .wrap ul.newsgr li .newsgr01 a .h5{

  font-weight: 600;
  line-height: 2.5;
  color: #3a3a3a;
  white-space: nowrap;
}
section#news .wrap ul.newsgr li .newsgr01 a .p14{
  
  color: #959595;
}
section#news .wrap ul.dote{

}
section#news .wrap ul.dote li a{
  width: 10px;
  height: 10px;
  display: block;
  background-color: #F4C066;
  border-radius: 50%;
}
section#news .wrap ul.dote li:not(:first-child) a{
  background-color: #bababa;
}