section#news {
  
  height: 90vh;
  display: flex;
  align-items: center;
}
section#news .wrap {
  
  width: 100%;
}
section#news .wrap hgroup {
  
}
section#news .wrap >div {
  
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

section#news .wrap div hgroup .h4 {
  
  font-weight: 600;
  color: #3a3a3a;
}
section#news .wrap div hgroup .h4 span{
  
  color: #f4c066;
}
section#news .wrap div hgroup .p {
  
  line-height: 2;
  color: #555;
}

section#news .wrap div .bt{

}
section#news .wrap div .bt::after{
  content: "";
  background-image: url(../img/news/arrow_forward.png);
  width: 7px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: -8px;
  margin-left: 3px;
}

section#news .wrap ul.newsgr {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 20px;
}
section#news .wrap ul.newsgr li {
  
  display: flex;
  width: calc(75vw / 2);
}

section#news .wrap ul.newsgr li >a {
  width: 200px;
  height: 200px;
}

section#news .wrap ul.newsgr li a img{

  border-radius: 0 20px;
}
section#news .wrap ul.newsgr li .newsgr01{

  margin-left: 40px;
}
section#news .wrap ul.newsgr li .newsgr01 a{

}
section#news .wrap ul.newsgr li .newsgr01 a .h5{

  font-weight: 600;
  line-height: 2.5;
  color: #3a3a3a;
}
section#news .wrap ul.newsgr li .newsgr01 a .p14{
  
  color: #555;
}