/* 모바일 980px */
@media screen and (max-width:980px){
  .vh100{
    min-height: auto;
  }
  .h2{
    font-size: calc(54px * 0.7);
  }
  .h3{
    font-size: calc(40px * 0.7);
  }
  .h5{
    font-size: calc(18px * 0.8);
  }
  .h4{
    font-size: 30px;
  }
/* 헤더  */
  header .wrap{
  }
  
  header .wrap ul.menu{
    display: none;
  }
  header .wrap h1.logo{
    transform: initial;
    padding-right: calc(100vw - 60vw);
    box-sizing: border-box;
  }
  header .wrap h1.logo a{
    width: 150px;
    height: 25px;
  }
  header .ham{
    display: flex;
  }
  /*  타이틀  */
  #title div{
    
  height: 100%;
  }
  #title div .title01{
  }
  #title div .title02{
  background-position-x: -235px;
  }
  #title div .title03{
    background-position-x: -235px;
  }
  #title ul{
    position: absolute;
    left: 50%;
  }
    /*  비디오  */
  #video{
  height: 85vw;
  padding: 0 15px;
  }
  #video .wrap{
 
  flex-direction: column;
  align-items: initial;
  }
  #video .wrap hgroup h4{
    
  }
  #video .wrap iframe{
    
  width: calc(100vw - 30px);
  margin-top: 20px;
  }
 
  /* 비지니스   */
  section#business{
    
  height: 70vw;
  padding: 0 15px;
  }
  section#business div {
    
  }
  section#business div .mom{
    
  height: 41vw;
  }

  section#business div .mom article{
    
  }
  section#business div .mom article .h4{
    
  padding-left: 100px;
  }
  section#business div .mom article .p{
    
  padding-left: 100px;
  white-space: nowrap;
  width: 34vw;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  }
  section#business div .mom article .p span{
    
  display: none;
  }
  section#business div .mom article figure img{
    
  width: 50vw;
  object-fit: cover;
  object-position: left;
  height: 41vw;
  }
  section#business div .spangr{
    
  top: 45%;
  padding: 0 28px;
  }
  section#business div .busibutton{
    
  bottom: 17%;
  }
  
  section#business div .busibutton a{
    
  }
  /*  프로덕션  */
  section#production{
    
  padding: 0 15px;
  width: 100vw;
  height: 65vw;
  }
  section#production .wrap{
    
  margin: initial;
  width: 100%;
  }
  section#production .wrap ul.proimg{
    
  column-gap: 20px;
  margin-top: 20px;
  }
  
  section#production .wrap ul.proimg li:not(:first-child){
    display: none;
  }
  section#production .wrap ul.proimg li:nth-child(2){
    
  display: initial;
  }
  section#production .wrap ul.proimg li a{
    
  width: calc((100vw / 2) - 25px);
  }
  section#production .wrap ul.dote{
    
  display: flex;
  justify-content: center;
  column-gap: 10px;
  }
  /*  뉴스  */
  section#news{
    
  padding: 0 15px;
  height: 80vw;
  min-height: auto;
  }
  
  section#news .wrap ul.newsgr{
  margin-top: 20px;
  }
  section#news .wrap ul.newsgr li{
    
  width: calc(96vw / 2);
  }
  section#news .wrap ul.newsgr li .newsgr01{
    
  margin-left: 20px;
  }
  section#news .wrap ul.newsgr li .newsgr01 a .p14{
    
  line-height: 1.5;
  margin-top: 10px;
  }
  /*  푸터  */
  footer .wrap{
  box-sizing: border-box;
  }
  footer .wrap ul.pnb{
    
  column-gap: 15px;
  }
  footer .wrap ul.pnb li a {

  font-size: 14px;
  }
  
  footer .wrap ul.pnb li a::before{
  width: 30px;
  height: 30px;
  vertical-align: -10px;
  margin-right: 5px;
  }
  footer .wrap div ul.fnb li a{
    
  font-size: 14px;
  font-weight: 200;
  }
  section#news .wrap ul.newsgr li .newsgr01 a .h5{
    
  line-height: 1.5;
  font-size: 17px;
  }
  
  
  
  
  /*  어드레스  */
  footer .wrap address{
  font-size: 14px;
  font-weight: 200;
  }
  footer .wrap p{
    
  font-size: 12px;
  }
  
  
  
}




/* 모바일 500px */

@media screen and (max-width:500px){
  
  .h4{
    font-size: 25px;
  }
  
  
  #title div .title02{
    
  display: none;
  }
  #title div .title03{
    
  display: none;
  }

  
  
  
  
  
  
  
  
}








