#video {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#video .wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#video .wrap::before{
  content: "introduction video";
  position: absolute;
  font-size: 186px;
  color: #eeeeeebd;
  text-transform: uppercase;
  z-index: -1;
  /*! top: 0; */
  line-height: 2;
}
#video .wrap hgroup {
  
}
#video .wrap hgroup h4 {
  color: #6e6e6e;
  text-transform: uppercase;
  font-weight: 300;
}
#video .wrap hgroup h4 span{
  
  color: #7fae30;
  font-size: 35px;
  display: block;
  font-weight: 600;
  line-height: 1.2;
}
#video .wrap hgroup p {
  
  line-height: 2;
  color: #959595;
}

#video .wrap iframe {
  width: 900px;
  height: 506px;
}